
  body {
    background: linear-gradient(to right, #90bacc, #96b2c0);
  }
body {
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #000204;
}

form .form-control {
  border-radius: 0.5rem;
}

